* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3e5f5;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#doc {
  display: flex; 
  font-family: 'Roboto', sans-serif;
  height: 90%;
  width: 100%;
  position: relative;
  border: none;
}

#map {
  width: 65%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
  padding: 20px;
  z-index: 1;
}

#informations {
  width: 35%;
  padding: 20px;
  height: 100%;
  border-left: 1px solid rgb(68, 67, 67);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  position: relative;
  gap: 20px;
}

#informations::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('../img/train.jpg') no-repeat center center;
  background-size: cover;
  filter: blur(5px);
  z-index: -1;
}


#informations::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(209, 197, 179, 0.84), rgba(200, 197, 197, 0.5));
  z-index: -1;
}
  
  
#informations .content {
  position: relative;
  z-index: 2;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
} 

.premiere-partie {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30%;
  width: 100%;
  margin: 15px;
  gap: 5px;
}

.deuxieme-partie{
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-around;
  height: 70%;
  width: 100%;
  gap: 10px;
}

  #menu {
    display: none;
  }

  #menu {
    margin: 10px 0;
    z-index: 2;
    position: relative;

  }
  
 #menu ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  #menu li {
    height: 100%;
  }
  
  #menu li a {
    text-decoration: none;
    color: black;
    display: block;
    border-radius: 8px; 
    text-align: center;
    background-color: #bd9acc;
    text-transform: lowercase;
    font-variant: small-caps;
    font-weight: bold;
    padding: 10px 15px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  @media (max-width: 600px) {
    #menu li a {
      padding: 4px 8px; 
      margin: 1px;
    }
  }
  
  @media (min-width: 601px) and (max-width: 1024px) {
    #menu li a {
      padding: 6px 12px; 
      margin: 1px;
    }
  }
  
  @media (min-width: 1025px) {
    #menu li a {
      margin: 1px;
      padding: 5px; 
    }
  }
  
  #menu li a:hover {
    background-color: #ccc; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }
  #content {
    flex: 1;
    position: relative;
    top: 0;
    
  }

  .content-section {
    position: absolute;
    opacity: 0;
    width: 100%;
    top: 0;
    height: 100%;
    display: flex; 
    flex-direction: column;;
    align-items: center; 
  }

  .content-section#info {
    justify-content: space-around;

  }

  .content-section.active {
    opacity: 1; 
    z-index: 2; 
    transition: opacity 0.3s ease-in-out; 
  } 

  #nomGare {
    height: 10%;
    margin: 5px;
    color: rgb(0, 0, 0);
    width: 100%;
    text-align: center;
  }

  .searchContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #gareForm {
    display: flex;
    flex-direction: column;
    align-items: center;     
    justify-content: center;
    position: relative;
    margin: 10px;
  }

  #controls {
    display: flex;
    align-items: center;     
    justify-content: center;
    width: 70%;
    gap: 10px;
  }

  #resultGareSearch {
    max-height: 200px;
    max-width: 300px;
    overflow-y: auto;
    border: 2px solid #6200ea;
    border-radius: 6%;
    padding: 5px;
    z-index: 1000;
    position: absolute; 
    background-color: white; 
    top: 100%; 
  }
  

  #resultGareSearch li:hover {
    background-color: #b8aaaa;
  }

  #gareSearch {
    border-radius: 20px;
    background-color: white;
    padding: 8px;
    border: none;
  }

  #info {
    display: flex;
    flex-direction: column;
    text-align: center;
    
    background-color: rgba(216, 216, 216, 0.281);

  }

  #info div:last-child {
      margin-bottom: 0;
  }


  
  .content-section#horaires {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgba(216, 216, 216, 0.281);

  }

  #horaires table {
    font-size: 1em;
    border-collapse: collapse; 
    width: 100%; 
    height: 100%;
  }

  #horaires table th {
    background-color: #ddd;
  }

  #horaires table td, 
  #horaires table th {
      text-align: center;
      border: 1px solid #ddd;
    
  }

  tbody > tr:hover{
    background-color: rgb(237 238 242);
  }
  

  #accessibilite {
      background-color: rgba(216, 216, 216, 0.281);
      overflow-y: scroll;
    }

    #accessibilite ul {
      list-style-type: none;
      text-align: left;
    }

    #accessibilite ul>li {
      background-color: #662483;
    }




  

  tbody > tr:hover {
    background-color: rgb(237 238 242);
  }

  #department-select,
#station-select {
  z-index: 10;
  width: 60%;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  border: 2px solid #6200ea; 
  border-radius: 5px;
  background: #f3e5f5; 
  color: #333; 
  cursor: pointer;
  transition: all 0.3s ease;
}


#status, #adresse {
  display: flex;
  align-items: center; 
  justify-content: center;

}

#cercleInconnu {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 3px solid #20201f;
  z-index: 1001;
  background-color: rgb(88, 88, 88);
}

#cercleOuvert {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 3px solid #0f4e11; 
  z-index: 1001;
  background-color: #4CAF50; 
}

#cercleFerme {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 3px solid #9c1b12; 
  z-index: 1001;
  background-color: #f44336; 
}

.inconnuStatus {
  color: rgb(58, 57, 57);
}

.fermeeStatus {
  color: #f44336;
}

.ouvertStatus {
  color: #0f4e11;
}

#status {
  margin-top: 20px;
}

#status p {
  width: 150px;
}


#adresse p {
  width: 150px;
  font-size: 1em;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
#adresse img {
  width: 50px;
  height: 50px;
}





#accessibilite ul {
  list-style-type: none;
  padding: 0;
}

#accessibilite ul > li {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #f0dff8;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  color: black;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

#accessibilite ul > li img {
  width: 40px;
  height: 40px;
  border-radius: 5px; 
}

#accessibilite ul > li:hover {
  background-color: white; 
}


  
  

  tbody > tr:hover {
    background-color: rgb(237 238 242);
  }

  #department-select,
#station-select {
  z-index: 10;
  width: 60%;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  border: 2px solid #6200ea; 
  border-radius: 5px;
  background: #f3e5f5; 
  color: #333; 
  cursor: pointer;
  transition: all 0.3s ease;
}


#status, #adresse {
  display: flex;
  align-items: center; 
  justify-content: center;

}

#cercleInconnu {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 3px solid #20201f;
  z-index: 1001;
  background-color: rgb(88, 88, 88);
}

#cercleOuvert {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 3px solid #0f4e11; 
  z-index: 1001;
  background-color: #4CAF50; 
}

#cercleFerme {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 3px solid #9c1b12; 
  z-index: 1001;
  background-color: #f44336; 
}

.inconnuStatus {
  color: rgb(58, 57, 57);
}

.fermeeStatus {
  color: #f44336;
}

.ouvertStatus {
  color: #0f4e11;
}

#status {
  margin-top: 20px;
}

#status p {
  width: 150px;
}


#adresse p {
  width: 150px;
  font-size: 1em;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
#adresse img {
  width: 50px;
  height: 50px;
}



/* Barre de navigation */
#sncf {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: linear-gradient(to right, #d9042b, #662483, #321450); ;
  color: white;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Logo */
#sncf .logo img {
  height: 60px; 
  max-height: 100%;
  width: auto; 
}

/* Navigation */
#sncf nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

#sncf nav ul li {
  margin: 0 15px;
}

#sncf nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: color 0.3s ease;
}

#sncf nav ul li a:hover {
  color: #ffcc00;
}

/* Barre de recherche */
.search-container {
  display: flex;
}

.search-container input[type="text"] {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}

.search-container button {
  background: white;
  border: none;
  padding: 5px 10px;
  margin-left: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  color: #363795;
  font-weight: bold;
  transition: all 0.3s ease;
}

.search-container button:hover {
  background: #ffcc00;
  color: white;
}



#satisfaction {
  height: 100%;
  background-color: rgba(216, 216, 216, 0.281);
  top: 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
}

#satisfaction div {
  display: grid;
  grid-template-columns: 200px auto;
  gap: 20px;
  align-items: center; 
  justify-content: start; 
}


#satisfaction div p {
  text-align: left;
}

.cercleProgression {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 3px solid #20201f;
  z-index: 1001;
  background-color: rgb(88, 88, 88);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em; 
  color: rgb(56, 54, 54); 
  font-weight: bold;
  position: relative;
}

.cercleProgression.noteInconnue {
  background: conic-gradient(#e0e0e0 100%, #e0e0e0 100%);
}

.cercleProgression .circletext {
  position: absolute;
  z-index: 2;
}
