#doc {
    display: flex; 
    gap: 10px;
    font-family: 'Roboto', sans-serif;
  }
  
  #map {
    flex: 1; 
    height: 600px; 
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .right{
    display: flex;
    gap: 10px;
    padding: 10px;
  }

  #informations {
    flex: 1; 
    height: 600px; 
    text-align: center;
    background-color: rgba(107, 228, 178, 1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    padding: 20px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  

  #menu {
    display: none;
  }

  #menu {
    width: 200px;
    max-height: 300px;
    background-color: #f4f4f4;
    border-right: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 100px;
    z-index: 998;
  }

  #menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  #menu li {
    margin-bottom: 10px;
  }

  #menu li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    background-color: #eaeaea;
    border-radius: 4px;
    text-align: center;
  }
  #menu li a:hover {
    background-color: #ccc;
  }

  #content {
    flex: 1;
    padding: 20px;
    z-index: 999;
  }

  .content-section {
    text-align: left;
    display: none;
  }

  .content-section.active {
    display: block; 
  }

  .searchContainer {
    position: relative;
  }

  #gareForm {
    display: flex;
    flex-direction: column;
    align-items: center;     
    justify-content: center;
    position: relative;

  }

  #resultGareSearch {
    max-height: 200px;
    max-width: 300px;
    overflow-y: auto;
    border: 2px solid #e63688;
    border-radius: 6%;
    padding: 5px;
    z-index: 1000;
    position: absolute; 
    background-color: white; 
    top: 100%; 
  }
  

  #resultGareSearch li:hover {
    background-color: #b8aaaa;
  }

  #gareSearch {
    border-radius: 20px;
    background-color: white;
    padding: 8px;
    border: none;
  }

 /*  #controls {
    margin: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
  } */

  /* #department-select,
  #station-select {
    padding: 5px;
    font-size: 14px;
  } */

  /* #station-select {
    display: none;
  } */